---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/heritage1.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/heritage1.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/heritage1.jpg" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-1310">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <div class="cs-box">
                <span class="cs-desc">10 Years of Experience</span>
            </div>
            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/carriage.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/carriage.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/carriage.jpg" alt="meeting" width="630" height="630" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">Humble Beginnings</h2>
            <p class="cs-text">
               Grador Garage Doors is a dynamic and expanding business specializing in residential overhead garage doors. Our bold brand colour reflects our commitment to standing out from the competition by providing homeowners with quality garage doors at competitive prices with exceptional customer service. We seek to make garage doors an affordable and cost-effective upgrade for homeowners seeking to enhance exterior aesthetics, increase home value, save on energy and improve security with a complete new garage door package. Having started from humble beginnings servicing a couple homes to servicing several dozen with technicians of four years of experience in installation and repair and maintenance.
            </p>
            <ul class="cs-ul">
                <li class="cs-item">
                    <span class="cs-number">150 +</span>
                    <h3 class="cs-h3">Projects Completed</h3>
                </li>
                <li class="cs-item">
                    <span class="cs-number">5/5</span>
                    <h3 class="cs-h3">5 Star Reviews</h3>
                </li>
                <li class="cs-item">
                    <span class="cs-number">3 +</span>
                    <h3 class="cs-h3">Dedidcated Team Members</h3>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-889">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Process</span>
            <h2 class="cs-title">How It Works</h2>
            <p class="cs-text">
                At Grador Garage Doors, we understand that the process of choosing and installing a garage door is significant. That's why we've streamlined our approach to make it as straightforward and hassle-free as possible. Our three-step process is designed to ensure that from the initial consultation to the final follow-up, your experience with us is seamless, satisfying, and tailored to your specific needs.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ficon-orange.svg" alt="icon" width="32" height="32" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Consultation and Customization</h3>
                <p class="cs-item-p">
                    We start with a one-on-one consultation to tailor the ideal garage door solution to your unique style and needs.
                </p>
            </li>
            <!--Arrow-->
            <li class="cs-item cs-arrow" aria-hidden="true">
                <img class="cs-arrow-img" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Farrow-curve-right.svg" alt="icon" width="80" height="76" loading="lazy" decoding="async" aria-hidden="true">
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ficon-orange.svg" alt="icon" width="32" height="32" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Precision Installation</h3>
                <p class="cs-item-p">
                    Our skilled technicians ensure a smooth and precise installation, focusing on quality and efficiency.
                </p>
            </li>
            <!--Arrow-->
            <li class="cs-item cs-arrow" aria-hidden="true">
                <img class="cs-arrow-img" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Farrow-curve-right.svg" alt="icon" width="80" height="76" loading="lazy" decoding="async" aria-hidden="true">
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ficon-orange.svg" alt="icon" width="32" height="32" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Comprehensive Follow-Up</h3>
                <p class="cs-item-p">
                    Post-installation, we offer thorough support to maintain optimal performance and customer satisfaction.
                </p>
            </li>
        </ul>
    </div>
</section>
                                

<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->

<section id="RPsbsr-1310">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/Heritage3.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/Heritage3.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Heritage3.jpg" alt="meeting" width="630" height="630" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Why Choose Us</span>
            <h2 class="cs-title">We Do Everything</h2>
         
              <p class="cs-text">
              Trust Grador Garage Doors to transform your home with expertise in installation and 24/ 7 repair and maintenance service, providing you with reliable support when you need it. We back our work with a 5-year product and service warranty on newly installed garage doors. We are a registered, licensed and insured $2,000,000.00 liability business that ensures and protects homeowners, allowing them to rest easy. Our growing base of satisfied customers also highlights why Grador is the first choice in new garage door installation and repair.
            </p>
               <p class="cs-text">
               Our team of technicians at Grador Garage Doors provides a variety of services related to garage doors including sales, supply, installation, maintenance and repair. We are available 24/7 across the GTA. To explore a full list of our services.
            </p>
        
        </div>
    </div>
</section>
                                
                                                   
   
    {% include 'components/cta.html' %}

{% endblock %}