/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-1479 {
        background-color: #161616;
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(584 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-text {
            max-width: calc(784 / 16 * 1rem);
            color:white;
        }
        .cs-title {
            color:white;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 8px - 20px */
            gap: clamp(0.5rem, 2vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            box-sizing: border-box;
            /* 24px - 80px - top and bottom*/
            /* 12px - 60px - Left and right*/
            padding: clamp(1.5rem, 5vw, 5rem) clamp(0.75rem, 1vw, 3.75rem);
            border: 1px solid #e8e8e8;
            background-color: #fff;
            /* 24px - 60px */
            border-radius: clamp(1.5rem, 4vw, 3.75rem);
            grid-column: span 6;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: clamp(1rem, 1.7vw, 1.5rem);
            position: relative;
            overflow: hidden;
            transition: border-color 0.3s, background-color 0.3s;

            &:hover {
                border-color: var(--primary);

                .cs-icon {
                    filter: none;
                }

                .cs-graphic {
                    filter: grayscale(0);
                }
            }
        }

        .cs-icon {
            width: auto;
            /* 48px - 60px */
            height: clamp(3rem, 5vw, 3.75rem);
            /* greyscale gets removed on hover, revealing the color of the icon. customise your icons to match your color scheme and the hover effect will work automatically */
            filter: grayscale(1);
            transition: filter 0.3s;
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: center;
            max-width: calc(185 / 16 * 1rem);
            margin: 0 auto;
            color: var(--headerColor);
        }

        .cs-graphic {
            min-width: calc(310 / 16 * 1rem);
            width: 100%;
            height: auto;
            filter: grayscale(1);
            display: none;
            position: absolute;
            /* changes to 0 at large desktop */
            bottom: calc(-35 / 16 * 1rem);
            left: 0;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #why-choose-1479 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-item {
            grid-column: span 3;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #why-choose-1479 {
        .cs-graphic {
            display: block;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #why-choose-1479 {
        .cs-graphic {
            bottom: 0;
        }
    }
}

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-342 {
        
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 1.6vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: calc(500 / 16 * 1rem);
            border-radius: calc(8 / 16 * 1rem);
            position: relative;
            z-index: 1;
            transition:
                box-shadow 0.3s,
                transform 0.3s;

            &:hover {
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                transform: translateY(calc(-7 / 16 * 1rem));
                .cs-picture {
                    img {
                        opacity: 0.3;
                        transform: scale(1.1);
                    }
                }
                .cs-h3 {
                    color: var(--primaryLight);
                }
            }

            &:before {
                /* border, done in pseudo so it can sit under the picture */
                content: "";
                width: 100%;
                height: 100%;
                border-radius: calc(8 / 16 * 1rem);
                border: 1px solid #e8e8e8;
                /* prevents border from affecting height and width */
                box-sizing: border-box;
                background: transparent;
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-link {
            text-decoration: none;
            /* 16px - 24px */
            padding-bottom: clamp(1rem, 2.2vw, 1.5rem);
            display: block;
        }

        .cs-picture {
            width: 100%;
            height: calc(240 / 16 * 1rem);
            /* 16px - 24px */
            margin-bottom: clamp(1rem, 2.2vw, 1.5rem);
            border-radius: calc(8 / 16 * 1rem) calc(8 / 16 * 1rem) 0 0;
            background-color: var(--primaryLight);
            /* clips the img tag corners */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 10;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition:
                    transform 0.6s,
                    opacity 0.3s;
            }
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 3vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            color: var(--headerColor);
            margin: 0 0 calc(12 / 16 * 1rem) 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2vw, 1.5rem);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px  */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            color: var(--bodyTextColor);
            margin: 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2.2vw, 1.5rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-342 {
        .cs-card-group {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .cs-item {
            /* we do this so it's stackable. You can add any number of reviews you want and they will stack and center in the middle. We don't use grid because if you have an odd number of cards, they don't stay centered, they align with their grid lines. This way its more FLEX-ible*/
            width: clamp(31.85%, 30.5vw, 32.28%);
        }
    }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-1449 {
        background-color: #f7f7f7;
        padding: var(--sectionPadding);
    
        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
            z-index: 1;
        }

        .cs-content {
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: calc(24 / 16 * 1rem);
        }

        .cs-title {
            margin: 0;
        }

        .cs-button-group {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            row-gap: calc(16 / 16 * 1rem);
            /* 20px - 32px */
            column-gap: clamp(1.25rem, 2vw, 2rem);
        }

        .cs-button {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            color: var(--bodyTextColor);
            background-color: transparent;
            border: none;
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: '';
                width: 100%;
                height: 4px;
                background: var(--primary);
                opacity: 0;
                border-radius: 4px 4px 0 0;
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                transition: opacity .3s, bottom .3s;
            }

            &:hover {
                color: var(--primary);
                cursor: pointer;

                &:before {
                    opacity: 1;
                    bottom: calc(-10 / 16 * 1rem);
                }
            }

            &.cs-active {
                color: var(--primary);

                &:before {
                    opacity: 1;
                    bottom: calc(-10 / 16 * 1rem);
                }
            }
        }

        .cs-gallery {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(19.0625rem, 1fr));
            /* 16px - 20px */
            gap: clamp(1rem, 1.5vw, 1.25rem);
            position: relative;
            perspective: 700px;
            transform-style: preserve-3d;
            transition:
                transform 0.7s,
                opacity 0.3s,
                visibility 0.5s,
                top 0.3s,
                left 0.3s;
            /* makes the transfrom scaling orgin the top left corner, dictates the direction by which the scale transforms animate towards */
            transform-origin: left top;

            &.cs-hidden {
                position: absolute;
                /* by using visibility:hidden instead of display:none, we can see the animations from the opacity and transforms, display:none won't render animations. */
                visibility: hidden;
                /* prevents the mouse from interacting with it */
                pointer-events: none;
                /* hidden galleries have a 0 opacity, and we animate the opacity to 1 when they become active */
                opacity: 0;
                /* this top and left value help control the animation, by setting it to position absolute and left 0, the gallery won't fly off screen to the left, it will stop its position to be at the left edge of the .cs-container (left: 0). Same for the bottom:0 value, the gallery won't go past that posiiton when it animates */
                bottom: 0;
                left: 0;
                position: absolute;
                /* prevents the hidden galleries from overflowing the section, and makes a nice animations to transition to and from */
                transform: scaleY(0) scaleX(0);

                .cs-image {
                    /* when gallery is hidden, add these styles to the cs-image to animate from when cs-hidden is removed from the .cs-gallery */
                    transform: translateY(2.1875rem) rotateX(90deg);
                    opacity: 0;
                }
            }
        }

        .cs-image {
            /* 260px - 360px */
            min-height: clamp(16.25rem, 60vw, 20rem);
            border-radius: calc(16 / 16 * 1rem);
            /* clips the image corners */
            overflow: hidden;
            display: block;
            position: relative;
            /* when .cs-hidden is removed from the .cs-gallery, reset these values and animate between their hidden styles */
            transform: translateY(0rem) rotateX(0);
            opacity: 1;
            transition:
                opacity 0.6s,
                transform 0.6s;

            &:nth-of-type(1) {
                /* the transition delays change at desktop */
                /* these delays stagger the reveal of each image so they all go one after the other and not all at once */
                transition-delay: 0.1s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.5s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.6s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.7s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.8s;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it act like a background image */
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-1449 {
        .cs-content {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }

        .cs-button {
            margin-bottom: calc(10 / 16 * 1rem);
        }
    }
}
                                

                                
                                