/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #banner-712 {
        /* 175px - 200px top */
        padding: clamp(10.9375rem, 10vw, 12.5rem) calc(16 / 16 * 1rem)
            calc(100 / 16 * 1rem);
        position: relative;
        z-index: 1;

        .cs-container {
            text-align: center;
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: calc(16 / 16 * 1rem);
        }

        .cs-int-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #000;
                opacity: 0.75;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #banner-712 {
        .cs-background {
            &:before {
                opacity: 1;
                background: linear-gradient(
                    90.01deg,
                    rgba(0, 0, 0, 0.9) 16.86%,
                    rgba(0, 0, 0, 0) 100%
                );
            }
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbs-873,
    #RPsbsr-873 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 7vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(542 / 16 * 1rem);
            /* prevents padding from affecting width and height */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            /* 17 characters wide including spaces */
            max-width: 17ch;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            display: block;
            position: relative;
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            /* 400px - 775px */
            height: clamp(25rem, 70vw, 48.4375rem);
            box-shadow: 0px 2.80579px 42.0868px rgba(0, 0, 0, 0.16);
            /* 100px - 200px */
            border-radius: 0 clamp(6.25rem, 17vw, 12.5rem) 0
                clamp(6.25rem, 17vw, 12.5rem);
            /* clips img tag corners */
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 64rem) {
    #RPsbs-873,
    #RPsbsr-873 {
        padding: var(--sectionPadding);

        .cs-container {
            flex-direction: row;
            max-width: calc(1280 / 16 * 1rem);
            justify-content: space-between;
        }

        .cs-content {
            width: 53%;
            /* reset the padding, add the section padding back to the section container */
            padding: 0;
        }

        .cs-picture {
            width: 47vw;
            position: relative;
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbsr-873 {
        background-color: #f7f7f7;
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbsr-873 {
        .cs-content {
            /* sends it to the left in the 1st position */
            order: -1;
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1645 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(2.5rem, 3.9vw, 4rem);
        }

        .cs-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            /* set text align to left if content needs to be left aligned */
            text-align: center;
        }

        .cs-title {
            color: var(--headerColor);
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            color: var(--bodyTextColor);
            opacity: 0.8;

            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            text-align: center;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            font-weight: 700;
            text-decoration: none;
            min-width: calc(147 / 16 * 1rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 calc(24 / 16 * 1rem);
            color: var(--bodyTextColorWhite);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:hover {
                color: #fff;

                &:before {
                    width: 100%;
                }
            }

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }
        }

        .cs-card-group {
            width: 100%;
            max-width: calc(803 / 16 * 1rem);
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            justify-content: center;
            /* prevents flexbox from squishing it */
            flex: none;
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            /* .cs-h3 and .cs-item-text both use text-align: inherit, so change the below to affect the whole item */
            text-align: left;
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            /* 20px - 48px */
            padding: clamp(1.5rem, 3.2vw, 2rem);
            background-color: #fff;
            border: 1px solid #E8E8E8;
            display: flex;
            flex-direction: column;
            transition: border-color 0.3s;
            /* 16px - 24px */
            gap: clamp(1rem, 1.5vw, 1.5rem);
            grid-column: span 12;

            &:hover {
                border-color: var(--primary);
            }
        }

        .cs-icon {
            width: calc(48 / 16 * 1rem);
            height: auto;
            margin: 0;
            display: block;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            text-align: inherit;
            line-height: 1.2em;
            margin: 0;
            margin-bottom: calc(16 / 16 * 1rem);
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            text-align: inherit;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            opacity: 0.8;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1645 {
        .cs-item {
            flex-direction: row;
            grid-column: span 6;
        }
    }
}

/* Large Desktop - 1024px */
@media only screen and (min-width: 80rem) {
    #services-1645 {
        .cs-container {
            flex-direction: row;
        }

        .cs-content {
            align-items: flex-start;
            text-align: left;
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-886 {
        padding: var(--sectionPadding);
        /* clips the svg wave from overflowing */
        overflow: hidden;
        position: relative;
        background-color: #f7f7f7;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
            position: relative;
            z-index: 1;
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: calc(413 / 16 * 1rem);
            margin: 0;
            padding: 0;
        }

        .cs-link {
            text-align: center;
            text-decoration: none;
            width: 100%;
            height: calc(420 / 16 * 1rem);
            padding: calc(20 / 16 * 1rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            border-radius: calc(16 / 16 * 1rem);
            /* clips img corners around the border */
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: calc(12 / 16 * 1rem);
            position: relative;
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 700;
            margin: 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-item-p {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            object-fit: cover;

            &:before {
                /* gradient overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: linear-gradient(
                    0deg,
                    #000000 10.13%,
                    rgba(0, 0, 0, 0) 40.71%
                );
                opacity: 1;
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                transition: height 0.3s;
            }

            img {
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                
            }
        }

        .cs-wave {
            /* we're stretching the svg wider than the viewport so it's taller and has more of a presence */
            width: 320%;
            height: auto;
            display: block;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-886 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-card-group {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
        }
        .cs-item {
            width: 48.9%;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-886 {
        /* the padding grows with the screen width so as the svg gets taller it doesn't overlap the section */
        padding-bottom: 14vw;

        .cs-item {
            .cs-item {
                width: 30vw;
            }
        }

        .cs-link {
            &:hover,
            &:focus-within {
                .cs-h3 {
                    color: var(--primary);
                    transform: translateY(0);
                }

                .cs-item-p {
                    height: auto;
                    opacity: 1;
                    transform: translateY(0);
                }

                .cs-background {
                    &:before {
                        height: 180%;
                    }
                    img {
                        transform: scale(1);
                    }
                }
            }
        }

        .cs-h3 {
            /* transform down the same amount as the flex gap */
            transform: translateY(0.75rem);
            transition:
                transform 0.3s,
                color 0.3s;
        }

        .cs-item-p {
            height: 0;
            opacity: 0;
            overflow: hidden;
            transform: translateY(3.125rem);
            transition:
                height 0.3s,
                opacity 0.3s,
                transform 0.3s;
        }

        .cs-wave {
            width: 100%;
            left: 0;
            transform: none;
        }
    }
}

/*-- -------------------------- -->
<---        Why Choose Us       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-1710 {
        /* moved padding to the container so the cs-picture can be full width */
        position: relative;
        overflow: hidden;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            /* moved to container instead of section, moves back to the section container at tablet */
            padding: var(--sectionPadding);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 40px - 64px */
            gap: clamp(2.5rem, 3.9vw, 4rem);
            position: relative;
            z-index: 1;

            &:before {
                /* light grey background overlay */
                content: '';
                width: 100%;
                height: 100%;
                background: #f7f7f7;
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-content {
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-title {
            margin: 0;
            max-width: 23ch;
        }

        .cs-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /* 16px - 32px */
            gap: clamp(1rem, 3.2vw, 2rem);
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            /* 16px - 32px */
            gap: clamp(1rem, 2vw, 2rem);
        }

        .cs-item {
            list-style: none;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: calc(16 / 16 * 1rem);
        }

        .cs-item-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(8 / 16 * 1rem);
        }

        .cs-item-number {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--primary);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(8 / 16 * 1rem);
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-picture {
            width: 100%;
            max-width: calc(1000 / 16 * 1rem);
            /* 340px - 620px */
            height: clamp(21.25rem, 47vw, 38.75rem);
            display: block;
            position: relative;
            top: 0;
            left: 0;
            z-index: 1;
            /* clips the img from overflowing the container on hover */
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-floater {
            /* 246px - 582px */
            width: clamp(15.375rem, 50vw, 36.375rem);
            height: auto;
            position: absolute;
            right: calc(-64 / 16 * 1rem);
            top: calc(-8 / 16 * 1rem);
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #why-choose-1710 {
        padding: var(--sectionPadding);
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 60px - 100px */
        gap: clamp(3.75rem, 3.9vw, 6.25rem);

        .cs-container {
            padding: 0;

            &:before {
                width: 130vw;
                height: 180%;
                top: calc(-150 / 16 * 1rem);
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .cs-wrapper {
            flex-direction: row;
            align-items: flex-start;
        }
    }
}
    

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1627 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }
        
        .cs-title {
            max-width: 20ch;
        }

        .cs-text {
            max-width: calc(640 / 16 * 1rem);
            position: relative;
            z-index: 1;

            &:after {
                /* divider line */
                content: "";
                width: 100%;
                height: 1px;
                margin-top: calc(24 / 16 * 1rem);
                background: var(--primary);
                opacity: 1;
                display: block;
                position: relative;
            }
        }

        .cs-chevron {
            --chevronColor: var(--primary);

            width: calc(48 / 16 * 1rem);
            height: auto;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            column-gap: clamp(1rem, 2.5vw, 1.25rem);
            /* 28px - 40px */
            row-gap: clamp(1.75rem, 2.5vw, 2.5rem);
        }
        
        .cs-item {
            list-style: none;
            width: 100%;
            display: flex;
            grid-column: span 12;
            flex-direction: column;
            align-items: flex-start;

            &:hover {
                .cs-picture {
                    img {
                        opacity: .5;
                        transform: scale(1.2);
                    }
                }
            }
        }

        .cs-link {
            text-decoration: none;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-picture {
            width: 100%;
            height: calc(200 / 16 * 1rem);
            margin-bottom: calc(24 / 16 * 1rem);
            background-color: #000;
            overflow: hidden;
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: transform .6s, opacity .3s;
            }
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: left;
            margin: 0 0 calc(12 / 16 * 1rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            text-align: left;
            margin: 0 0 calc(24 / 16 * 1rem) 0;
            color: var(--bodyTextColor);
        }

        .cs-fake-link {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            margin-top: auto;
            color: var(--primary);
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(8 / 16 * 1rem);

            &:hover {
                .cs-icon {
                    transform: translateX(.5rem);
                }
            }
        }

        .cs-icon {
            width: calc(20 / 16 * 1rem);
            height: auto;
            display: block;
            transition: transform .3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1627 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-content {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .cs-flex {
            text-align: left;
            width: 40vw;
            max-width: calc(640 / 16 * 1rem);
            flex: none;
        }

        .cs-title {
            margin: 0;
        }

        .cs-text {
            padding: calc(12 / 16 * 1rem) 0 calc(12 / 16 * 1rem) calc(24 / 16 * 1rem);

            &:after {
                width: 1px;
                height: 100%;
                margin: 0 calc(24 / 16 * 1rem) 0 0;
                order: -1;
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        .cs-item {
            grid-column: span 4;
        }

        .cs-picture {
            /* 240px - 420px */
            height: clamp(15rem, 33vw, 26.25rem);
        }
    }
}
                                
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    @keyframes floatAnimation {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-2rem);
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes floatAnimation2 {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-3rem);
        }
        100% {
            transform: translateY(0);
        }
    }

    #sbs-1362 {
        padding: var(--sectionPadding);
        position: relative;
        overflow: hidden;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(584 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-topper {
            color: #767676;
        }

        .cs-title {
            /* 23 characters wide including spaces */
            max-width: 26ch;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(24 / 16 * 1rem);
            }
        }

        .cs-card-group {
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            margin: 0 0 calc(24 / 16 * 1rem) 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(15.265rem, 1fr));
            align-items: center;
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            /* 16px - 24px */
            padding: clamp(1rem, 3vw, 1.5rem);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            background-color: #f7f7f7;
            border-radius: calc(16 / 16 * 1rem);
            border: 1px solid #e8e8e8;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(8 / 16 * 1rem);
        }

        .cs-h3-icon {
            width: calc(32 / 16 * 1rem);
            height: auto;
            display: block;
        }

        .cs-item-text {
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-ul {
            width: 100%;
            margin: 0 0 calc(24 / 16 * 1rem) 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-li {
            font-size: var(--bodyFontSize);
            list-style: none;
            line-height: 1.5em;
            width: 100%;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            /* push icon top the top so if the list item goes to two lines the icon stays at the top */
            align-items: flex-start;
            gap: calc(8 / 16 * 1rem);
        }

        .cs-icon {
            width: calc(24 / 16 * 1rem);
            height: auto;
            /* adds extra space between the icon and top of parent so it's more centered */
            margin-top: 1px;
            display: block;
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            line-height: calc(56 / 16 * 1rem);
            text-decoration: none;
            font-weight: 700;
            overflow: hidden;
            margin: 0;
            color: #fff;
            padding: 0 calc(48 / 16 * 1rem);
            border-radius: calc(30 / 16 * 1rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: #1a1a1a;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: var(--primary);
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            width: 100%;
            max-width: calc(586 / 16 * 1rem);
            /* Changes to auto at desktop */
            height: calc(520 / 16 * 1rem);
            /* 32px - 48px */
            border-radius: clamp(2rem, 4vw, 3rem);
            /* clips the corners of the children around the border radius */
            overflow: hidden;
            position: relative;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            /* makes it cover the parent dimensions */
            object-fit: cover;
            display: block;

            img {
                width: 100%;
                height: 100%;
                /* makes it cover the parent like a backgorund image */
                object-fit: cover;
                display: block;
            }
        }

        .cs-box {
            text-align: left;
            width: 100%;
            max-width: calc(304 / 16 * 1rem);
            padding: calc(32 / 16 * 1rem);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            background-color: var(--primary);
            /* 48px - 80px */
            border-radius: calc(32 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(24 / 16 * 1rem);
            position: absolute;
            /* 12px - 20px */
            right: clamp(0.75rem, 1.9vw, 1.5rem);
            /* 12px - 20px */
            bottom: clamp(0.75rem, 1.9vw, 1.5rem);
        }

        .cs-box-icon {
            width: calc(60 / 16 * 1rem);
            height: auto;
            display: block;
        }

        .cs-desc {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 700;
            width: 100%;
            margin: 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-bubbles {
            font-size: min(2.5vw, 0.7em);
            width: calc(419 / 16 * 1em);
            height: calc(427 / 16 * 1em);
            position: absolute;
            /* changes to 160px at larger desktop */
            right: calc(-260 / 16 * 1em);
            /* chnages to 30px at Large desktop */
            bottom: calc(-50 / 16 * 1em);
            z-index: -1;

            &:before {
                /* white border bubble */
                content: "";
                width: calc(330 / 16 * 1em);
                height: calc(330 / 16 * 1em);
                background: transparent;
                border: 1px solid #1a1a1a;
                border-radius: 50%;
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                right: 0;
                animation-name: floatAnimation;
                animation-duration: 5s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
            }

            &:after {
                /* orange bubble */
                content: "";
                width: calc(260 / 16 * 1em);
                height: calc(260 / 16 * 1em);
                background: var(--primary);
                opacity: 0.15;
                border-radius: 50%;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -1;
                animation-name: floatAnimation2;
                animation-duration: 14s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-1362 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-image-group {
            height: auto;
        }

        .cs-bubbles {
            font-size: min(2.5vw, 1em);
        }
    }
}

/* Large Desktop 1600px */
@media only screen and (min-width: 100rem) {
    #sbs-1362 {
        .cs-bubbles {
            margin-left: calc(650 / 16 * 1rem);
            right: auto;
            left: 50%;
            bottom: calc(30 / 16 * 1rem);
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-1444 {
        padding: var(--sectionPadding);
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(542 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-card-group {
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            margin: 0 0 calc(32 / 16 * 1rem) 0;
            padding: 0;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: calc(24 / 16 * 1rem);
        }
        
        .cs-li {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-li-picture {
            width: calc(80 / 16 * 1rem);
            height: calc(80 / 16 * 1rem);
            margin: 0;
            border-radius: 50%;
            background-color: #fff;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: .1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-li-icon {
            width: calc(32 / 16 * 1rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: left;
            margin: 0 0 calc(12 / 16 * 1rem) 0;
            color: var(--headerColor);
        }

        .cs-li-text {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            text-align: left;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(32 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
        
            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width .3s;
            }
        
            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            width: 100%;
            max-width: calc(650 / 16 * 1rem);
            min-height: calc(362 / 16 * 1rem);
            border-radius: calc(24 / 16 * 1rem);
            /* clips img tag corners */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-1444 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            position: relative;
        }

        .cs-content {
            width: 50%;
            padding: calc(40 / 16 * 1rem) 0;
        }

        .cs-picture {
            height: auto;
            width: 55%;
            /* sends it to the right in the 2nd position */
            order: 2;
        }
    }
}
                                
                                
                                
                                

                                